@import "colors";

.navbar {
    background-color: $navbar-color;
    border-color: $navbar-color;
    border-radius: 0;
    height: 5.5em;
    text-align: center;
}
.navbar-brand--logo {
    height: 5em;
    padding-top: 1em;
}
